// BLACK - YELLOW
/*
$text-color: rgb(255, 255, 255);
$btn-color: rgb(0, 0, 0);
$border: 1px solid #555;
$background: rgb(17, 17, 17);
$primary: rgb(241, 214, 0);
$primary-hover: rgb(255, 252, 38);
$secondary: rgb(240, 80, 110); 
$secondary-hover: rgb(238, 57, 91);
$muted: rgb(153, 153, 153);
*/

// LIGHT GREY - BLUE
$text-color: rgb(131, 131, 145);;
$btn-color: rgb(255, 255, 255);
$border: 1px solid rgb(131, 131, 145);;
$background: rgb(245, 245, 245);
$primary: rgb(30, 135, 240);
$primary-hover: rgb(15, 122, 229);
$secondary: rgb(240, 80, 110); 
$secondary-hover: rgb(238, 57, 91);
$muted: rgb(153, 153, 153);

.cookie-consent {

    .cookie-modal, .cookie-notice {

        @import 'switch.scss';
    
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5em;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;

        p, h1, h2, ul, li {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            color: $text-color;
            text-align: left;
            margin: 0;
            line-height: inherit;
        }
    
        a {
            color: $muted;
            text-decoration: underline;
            transition: all .2s ease-in-out;
        }
        
        a:hover {
            color: $text-color;
            text-decoration: none;
            transition: all .2s ease-in-out;
        }

    }
    
    .cookie-modal {
        
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        left: 0;
        top: 0;
        z-index: 1000;
    
        .cookie-modal-bg {
            background: rgba(0,0,0,0.5);
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    
        .cookie-modal-modal {
            z-index: 1001;
    
            @media(min-width: 1024px){
                position: relative;
                margin: 0 auto;
                max-width: 640px;
                height: auto;
                width: auto;
            }
    
            width: 100%;
            max-height: 100%;        
            top: 50%;
            transform: translateY(-50%);
            position: fixed;
            overflow: auto;
            background: $background;
            color: $text-color;
    
            a.hide   {
                svg {
                    stroke: $text-color;
                }
                position: absolute;
                top: 20px;
                right: 20px;
            }
            
            .cookie-modal-footer {
                padding: 2em;
                border-top: $border;
    
                a.cookie-modal-powered-by {
                    position: absolute;
                    right: 2em;
                    color: $muted;
                    font-size: 0.8em;
                    padding-top: 4px;
                }
                
                a.cookie-modal-btn {
                    color: $btn-color;
                    padding: 0.5em 1em;
                    margin-right: 0.5em;
                    text-decoration: none;
            
                    &.cookie-modal-btn-primary {
                        background: $primary;
                    }
                    
                    &.cookie-modal-btn-primary:hover {
                        background: $primary-hover;
                        color: $btn-color;
                    }

                }
            }
    
            .cookie-modal-header {
                padding: 2em;
                border-bottom: $border;
                
                h1 {
                    margin: 12px 0;
                    font-size: 1.6em;
                    display: block;
                }
            }
    
            .cookie-modal-body {
                padding: 2em;
                
                ul {
                    display: block;
                }
                
                span {
                    display: inline-block;
                    width: auto;
                }
                
                ul.cookie-modal-apps {
                    padding :0;
                    margin: 0;
                    
                    li.cookie-modal-app {
                        
                        &:first-child{
                            margin-top: 0;
                        }
                        
                        position: relative;
                        line-height: 20px;
                        vertical-align: middle;
                        padding-left: 50px;
                        min-height: 40px;
                        
                        .switch {
                            position: absolute;
                            left: 0;
                        }
                        
                        p {
                            margin: 0;
                        }
                        
                        p.cookie-modal-app-description {
                            margin: 0;
                            font-size: 0.8em;
                        }

                        p.purposes {
                            font-size: 0.8em;
                            color: $muted;
                            margin-bottom: 20px;
                        }

                        &.cookie-modal-toggle-all {
                            border-top: $border;
                            padding-top: 1em;
                        }

                        span.cookie-modal-app-title {
                            font-weight: 600;
                        }

                        span.cookie-modal-opt-out, span.cookie-modal-required {
                            padding-left: 0.2em;
                            font-size: 0.8em;
                            color: $muted;
                        }
                    }
                }
            }
        }
    }
    
    .cookie-notice {
    
        background: $background;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 2em;
        z-index: 10;
    
        @media(min-width: 990px){
            position: fixed;
            bottom: 1em;
            left: 1em;
            max-width: 28em;
        }
    
        @media(max-width: 989px){
            border: none;
        }
        
        .cookie-notice-changes {
                font-size: 0.8em;
                line-height: 1.2em;
                margin-bottom: 20px;
            }
    
        .cookie-notice-body {
            color: $text-color;
            display: block;
            margin-bottom: 1em;

            a.cookie-notice-learn-more {
                display: inline-block;
            }
    
            a.cookie-notice-decline {
                
            }
        }
        
        .cookie-notice-ok {
                display: flex;
        }
            
        .cookie-notice-btn {
            flex: 1;
            text-align: center;
            text-decoration: none;
            color: $btn-color;
            padding: 0.5em 1em;

    
            &.cookie-notice-btn-primary {
                background: $primary;
            }
            
            &.cookie-notice-btn-primary:hover {
                background: $primary-hover;
                color: $btn-color;
            }

            &.cookie-notice-btn-secondary {
                background: $secondary;
            }
            
            &.cookie-notice-btn-secondary:hover {
                background: $secondary-hover;
            }

            
        }
    
    }
}
